body{
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.header{
    font-family: Phosphate;
    color: darkmagenta;
    font-size:70;
}

.btn{
    color: indigo;
    font-size:25px;
    background-color: transparent;
    border:3px indigo solid;
    border-radius:100px;
    font-family: Palatino;
}